*
{
    margin: 0;
    padding: 0;
}


body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container
{
    /*display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;*/
}

h2
{
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    text-align: center;
    color: #fff;
    padding: 25px;
    width: 22em;
    border-radius: 18px;
    font-size: 1.9em;
    margin-bottom: 55px;
}


span
{
color: cornflowerblue;
}


.btn
{
    position: absolute;
    left: 595px;
    background: transparent;
    border: 4px solid black;
    padding: 25px;
    border-radius: 25px;
    width: 170px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    font-weight: bolder;
}

/*.btn:active
{
    background-color: crimson;
}*/